# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual envs
.venv/
env/
venv/
*.conda

# Data & outputs
data/
experiments/
*.npz
*.parquet
*.pkl
*.csv
submission.csv

# Kaggle
/kaggle/working/*
/kaggle/temp/*

# Jupyter
.ipynb_checkpoints/
*.ipynb_out
